.grid-container {
    display: grid;
    grid-template-columns: 1max-content 1max-content 1max-content 1max-content 1max-content;
    grid-template-rows: 1max-content 1max-content 1max-content 1max-content 1max-content;
    grid-template-areas: ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . .";
  }