<div class="center">
    <file-drop
        dropZoneLabel="Drop files here"
        (onFileDrop)="dropped($event)"
        (onFileOver)="fileOver($event)"
        (onFileLeave)="fileLeave($event)"
        accept="image/*"
        dropZoneClassName="drop-zone d-flex align-items-center justify-content-center"
        contentClassName="drop-zone-content">
    </file-drop>
    <div>
      <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of files; let i=index">
                    <td>{{item.relativePath}}
                    </td>
                    <td><button type="button" (click)="remove(i)" class="btn btn-primary">Remove</button></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
  <div>
    <p>Count of files: {{files.length}}</p>
  </div>
  <button type="button" (click)="removeAll()" class="btn btn-primary">Remove all</button>