<div *ngIf="isUploading">
<div class="center">
  <file-drop id="#fileUpload"
    dropZoneLabel="Drop files here"
    (onFileDrop)="dropped($event)"
    accept="image/*"
    dropZoneClassName="drop-zone d-flex align-items-center justify-content-center"
    contentClassName="drop-zone-content">
  </file-drop>
</div>
</div>
<div *ngIf="isFoldersShowing">
<button type="button" (click)="openUpload()" class="btn btn-primary">Open upload</button>
  <div class="container">
    <div *ngFor="let item of classFolders.dict; let i=index" (click)="navigateToFolderContent(item.imgClass)">
        <img src= "../../assets/folder.png" class="pointer">
        <p class="pointer">{{item.imgClass}}</p>
    </div>
  </div>
</div>

<div *ngIf="isContentShowing">
  <button type="button" (click)="openFolders()" class="btn btn-primary">Open folders</button>

 {{className}}
<div class="container1">
<div *ngFor="let item of dictionaryItem.imgFiles let i=index">
  <img src= {{item.base64string}} height="200" width="auto">
  <p>{{item.imgName}}</p>
</div>
</div>
</div>
