@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Pacifico');

.drop-zone {
  width: 100%;
  height: 200px;
  background: rgb(250, 250, 250);
  outline: 2px dashed dodgerblue;
  outline-offset: -10px;
}

a {
  @extend .text-decoration-none;
}
