<h3 class="mb-4">Save images to:</h3>
<div class="d-flex justify-content-between mb-4">
  <div
    class="export-option card px-5 py-2 d-flex flex-column"
    (click)="exportToMyComputer()">
    <img src="../../assets/my-computer.png" width="150">
    <span class="text-center">My computer</span>
  </div>
  <div
    class="export-option card px-5 py-2 d-flex flex-column"
    (click)="exportToGoogleDrive()">
    <img src="../../assets/google-drive.png" width="150">
    <span class="text-center">Google Drive</span>
  </div>
  <div
    class="export-option card px-5 py-2 d-flex flex-column"
    (click)="exportToDropbox()">
    <img src="../../assets/dropbox.png" width="150">
    <span class="text-center">Dropbox</span>
  </div>
</div>
<div class="d-flex justify-content-center">
  <a routerLink="/folders-list">
    <span>Go back</span>
  </a>
</div>
