<!-- <div class="progress-wrapper" *ngIf="progress$ | async"> -->
  <div class="card progress-wrapper shadow-sm">
    <h5 class="card-header">{{progress?.header}}</h5>
    <div class="card-body">
    <div class="row">
      <div class="col-2 text-nowrap">{{progress?.current}}/{{progress?.max}}</div>
      <div class="col text-truncate">{{progress?.text}}</div>
      <div class="col-3 d-flex align-items-center flex-row-reverse">
        <div class="spinner-border spinner-border-sm text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<button (click)="updateProgress()">+1</button>
