<div class="card progress-wrapper" [ngClass]="{'d-none':!showProgressBar}">
  <h5 class="card-header">
    Classifying images...
  </h5>
  <div class="card-body">
    <div class="row">
      <div class="col">
        Classifying images...
      </div>
      <div class="col-3">
        <circle-progress
          [radius]="7"
          [outerStrokeWidth]="4"
          [outerStrokeColor]="'#00bfb1'"
          [outerStrokeLinecap]="'square'"
          [showTitle]="false"
          [showSubtitle]="false"
          [showUnits]="false"
          [showBackground]="false"
          [showInnerStroke]="false"
          [percent]="100"
          [maxPercent]="100">
        </circle-progress>
      </div>
    </div>
  </div>
</div>
